@import "../../assets/colors";
.container {
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.title {
  font-weight: 700;
  line-height: 32px;
  color: $primary;
}
.button {
  text-align: center;
  margin: 40px 0;
  width: 480px;
}
