@import "../../assets/colors";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.title {
  font-weight: 700;
  line-height: 32px;
  color: $primary;
}
.button {
  text-align: center;
  margin: 40px 0;
  width: 480px;
}
.forgotPassword {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: $primary;
  padding-top: 8px;
  &:hover{
    cursor: pointer;
  }
}