@import "src/assets/mixins";
@import "src/assets/colors";

.primaryButton{
  @include button();
  background-color: $primary;
  color: $white;
  &:hover{
    background-color: $primary-secondary;
    transform: scale(1.1);
  }
}

.disabledButton{
  background-color: $secondary;
  color:  $white;
  &:hover{
    cursor: not-allowed;
    border-color: $secondary;
  }
}