@import "src/assets/colors";
.container {
  border: 1px solid $gray;
  width: 544px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-weight: 700;
  line-height: 32px;
  color: $primary;
}
.button {
  text-align: center;
  margin: 40px 32px;
  width: 480px;
}
