@import "src/assets/colors";

.container{
  display: flex;
  border-bottom: 1px solid $gray;
  gap: 40px;
}
.tab{
  display: flex;
  align-items: center;
  text-align: center;
  color: $secondary;
  &:hover{
    color: $primary;
    cursor: pointer;
  }
}
.activeTab{
  color: $primary;
  border-bottom: 2px solid $primary;
}
