@import "src/assets/colors";

.container {
  border-bottom: 1px solid $gray;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0;
}
.mainInfoContainer {
  display: flex;
  justify-content: flex-start;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 192px;
  min-width: 256px;
}
.blueImageContainer {
  background-color: $blue;
}
.greenImageContainer {
  background-color: $green;
}
.orangeImageContainer {
  background-color: $orange;
}
.purpleImageContainer {
  background-color: $purple;
}
.image {
  width: 164px;
  height: 192px;
  object-fit: cover;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 32px;
  width: 446px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $primary;
  text-transform: uppercase;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  margin-top: 8px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 24px 0;
}
.quantity{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  user-select: none;
}
.price {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  user-select: none;
}
