@import "src/assets/colors";

.title {
  color: $primary;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  padding: 40px 32px 32px 0;
  text-transform: uppercase;
}