@import "src/assets/colors";
.container {
  border: 1px solid $gray;
  width: 544px;
  margin: 70px auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message{
  background-color: $purple;
  padding: 20px;
  width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.email{
  font-weight: 700;
}
.title{
  font-weight: 700;
  line-height: 32px;
  color: $primary;
}
.button {
  text-align: center;
  margin: 40px 32px;
  width: 480px;
}