@import "src/assets/colors";
@import "src/assets/mixins";

.container {
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 1120px;
  margin-bottom: 40px;
  padding: 0 300px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray;
  min-height: 56px;
  width: 542px;
  box-sizing: border-box;
}
.input {
  width: 486px;
  border: none;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $secondary;
  }
}
.searchIcon {
  padding: 16px;
}
.iconContainer {
  display: flex;
  div:hover {
    cursor: pointer;
    svg > path {
      fill: $primary-secondary;
    }
  }
}
.icon {
padding: 16px;
}
